

<html>
<head>
  <meta charset="UTF-8">
  <title>ONE HUNDRED DAYS OF CODE</title>
</head>

<body>
<h1>Welcome to my 100DAYSOFCODE challenge blog!</h1>

<div class="container">

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Day 1</h3>
       <p>random generator</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Day 2</h3>
       <p>farming program</p> <!-- add a hover effect for a thumbnail -->
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Day 3</h3>
       <p>setting up this page</p>
    </div>
  </div>
</div>

</div>

</body>
</html>




